<!DOCTYPE html>
<html lang="en">

<head><title>Kick IT App</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="R.css" />
</head><body>
<h1> Kick IT App
<img class="logo" src="pic.png" alt="[Kick logo]" />
</h1>
<hr/>
<div style="text-align: center;">
</div><h2>Predictive analysis tool to avoid unpleasant car purchase experience</h2>
</div><h2>(A Prototype)</h2>
<body>
    <div style="color:blue">
        <form action="{{ url_for('predict')}}" method="post">   
            <h3>What is the proposed price for the car  (USD)?</h3><br><input id="fourth" name="MMRAcquisitionAuctionAveragePrice" required="required">
            <h3>How many Kilometers driven (miles)?</h3><br><input id="fourth" name="VehOdo" required="required">
            <h3>What is the Make of the car?</h3><br><select id="first" name="Make" required="required">
                <option value='MAZDA'>MAZDA</option>
				<option value='DODGE'>DODGE</option>
				<option value='FORD'>FORD</option>
				<option value='KIA'>KIA</option>
				<option value='GMC'>GMC</option>
				<option value='NISSAN'>NISSAN</option>
				<option value='CHEVROLET'>CHEVROLET</option>
				<option value='SATURN'>SATURN</option>
				<option value='CHRYSLER'>CHRYSLER</option>
				<option value='MERCURY'>MERCURY</option>
				<option value='HYUNDAI'>HYUNDAI</option>
				<option value='TOYOTA'>TOYOTA</option>
				<option value='PONTIAC'>PONTIAC</option>
				<option value='SUZUKI'>SUZUKI</option>
				<option value='JEEP'>JEEP</option>
				<option value='HONDA'>HONDA</option>
				<option value='OLDSMOBILE'>OLDSMOBILE</option>
				<option value='BUICK'>BUICK</option>
				<option value='ISUZU'>ISUZU</option>
				<option value='LINCOLN'>LINCOLN</option>
				<option value='MINI'>MINI</option>
				<option value='SUBARU'>SUBARU</option>
				<option value='INFINITI'>INFINITI</option>
				<option value='LEXUS'>LEXUS</option>
            </select>
            <h3>Which model?</h3><br><select id="second" name="Model" required="required">
                <option value='MAZDA3'>MAZDA3</option>
				<option value='1500 RAM PICKUP 2WD'>1500 RAM PICKUP 2WD</option>
				<option value='STRATUS V6'>STRATUS V6</option>
				<option value='NEON'>NEON</option>
				<option value='FOCUS'>FOCUS</option>
				<option value='GALANT 4C'>GALANT 4C</option>
				<option value='SPECTRA'>SPECTRA</option>
				<option value='TAURUS'>TAURUS</option>
				<option value='FIVE HUNDRED'>FIVE HUNDRED</option>
				<option value='1500 SIERRA PICKUP 2'>1500 SIERRA PICKUP 2</option>
				<option value='F150 PICKUP 2WD V6'>F150 PICKUP 2WD V6</option>
				<option value='CARAVAN GRAND FWD V6'>CARAVAN GRAND FWD V6</option>
				<option value='ALTIMA'>ALTIMA</option>
				<option value='CAVALIER 4C'>CAVALIER 4C</option>
				<option value='TRAILBLAZER 2WD 6C'>TRAILBLAZER 2WD 6C</option>
				<option value='VUE 2WD 4C'>VUE 2WD 4C</option>
				<option value='IMPALA'>IMPALA</option>
				<option value='ENVOY XL 2WD 6C'>ENVOY XL 2WD 6C</option>
				<option value='MONTE CARLO'>MONTE CARLO</option>
				<option value='VENTURE FWD V6'>VENTURE FWD V6</option>
				<option value='HHR'>HHR</option>
				<option value='SABLE'>SABLE</option>
				<option value='ENVOY XL 4WD 6C'>ENVOY XL 4WD 6C</option>
				<option value='DURANGO 4WD V8'>DURANGO 4WD V8</option>
				<option value='EXPLORER 2WD V6'>EXPLORER 2WD V6</option>
				<option value='300'>300</option>
				<option value='MUSTANG V6'>MUSTANG V6</option>
				<option value='AVALANCHE 1500 2WD V'>AVALANCHE 1500 2WD V</option>
				<option value='WINDSTAR FWD V6'>WINDSTAR FWD V6</option>
				<option value='FREESTAR FWD V6'>FREESTAR FWD V6</option>
				<option value='SONATA V6'>SONATA V6</option>
				<option value='CALIBER'>CALIBER</option>
				<option value='SENTRA'>SENTRA</option>
				<option value='PACIFICA FWD'>PACIFICA FWD</option>
				<option value='IMPALA V6'>IMPALA V6</option>
				<option value='XTERRA 2WD V6'>XTERRA 2WD V6</option>
				<option value='COROLLA'>COROLLA</option>
				<option value='G6 V6'>G6 V6</option>
				<option value='ION'>ION</option>
				<option value='DURANGO 2WD V8'>DURANGO 2WD V8</option>
				<option value='FUSION 4C'>FUSION 4C</option>
				<option value='GRAND PRIX'>GRAND PRIX</option>
				<option value='SEBRING V6'>SEBRING V6</option>
				<option value='FORENZA'>FORENZA</option>
				<option value='MAZDA5'>MAZDA5</option>
				<option value='LIBERTY 2WD V6'>LIBERTY 2WD V6</option>
				<option value='DAKOTA PICKUP 2WD V6'>DAKOTA PICKUP 2WD V6</option>
				<option value='TAHOE 2WD'>TAHOE 2WD</option>
				<option value='COBALT'>COBALT</option>
				<option value='EXPEDITION 2WD V8'>EXPEDITION 2WD V8</option>
				<option value='SUNFIRE'>SUNFIRE</option>
				<option value='RELAY 2WD V6'>RELAY 2WD V6</option>
				<option value='FREESTYLE 2WD V6'>FREESTYLE 2WD V6</option>
				<option value='F150 PICKUP 2WD V8'>F150 PICKUP 2WD V8</option>
				<option value='TRAILBLAZER EXT 2WD'>TRAILBLAZER EXT 2WD</option>
				<option value='PT CRUISER'>PT CRUISER</option>
				<option value='TRACKER 2WD V6'>TRACKER 2WD V6</option>
				<option value='DURANGO 2WD V6'>DURANGO 2WD V6</option>
				<option value='MALIBU V6'>MALIBU V6</option>
				<option value='ALERO 4C'>ALERO 4C</option>
				<option value='TOWN & COUNTRY FWD V'>TOWN & COUNTRY FWD V</option>
				<option value='CAMRY V6'>CAMRY V6</option>
				<option value='MAGNUM V6'>MAGNUM V6</option>
				<option value='EQUINOX FWD V6'>EQUINOX FWD V6</option>
				<option value='STRATUS 4C'>STRATUS 4C</option>
				<option value='LIBERTY 2WD 4C'>LIBERTY 2WD 4C</option>
				<option value='MAZDA6'>MAZDA6</option>
				<option value='CAMRY 4C'>CAMRY 4C</option>
				<option value='FREESTYLE FWD V6'>FREESTYLE FWD V6</option>
				<option value='L SERIES'>L SERIES</option>
				<option value='SEBRING 4C'>SEBRING 4C</option>
				<option value='SILHOUETTE'>SILHOUETTE</option>
				<option value='ESCAPE 4WD V6'>ESCAPE 4WD V6</option>
				<option value='OPTIMA 4C'>OPTIMA 4C</option>
				<option value='RANGER PICKUP 2WD V6'>RANGER PICKUP 2WD V6</option>
				<option value='G6 4C'>G6 4C</option>
				<option value='ENVOY 2WD 6C'>ENVOY 2WD 6C</option>
				<option value='ACCENT'>ACCENT</option>
				<option value='UPLANDER FWD V6'>UPLANDER FWD V6</option>
				<option value='ELANTRA'>ELANTRA</option>
				<option value='1500 SILVERADO PICKU'>1500 SILVERADO PICKU</option>
				<option value='ENDEAVOR FWD'>ENDEAVOR FWD</option>
				<option value='AMANTI'>AMANTI</option>
				<option value='TUCSON 2WD 4C'>TUCSON 2WD 4C</option>
				<option value='XB'>XB</option>
				<option value='EXPLORER 4WD V6'>EXPLORER 4WD V6</option>
				<option value='CARAVAN FWD V6'>CARAVAN FWD V6</option>
				<option value='TRIBUTE 2WD 4C'>TRIBUTE 2WD 4C</option>
				<option value='SONATA 4C'>SONATA 4C</option>
				<option value='RENDEZVOUS FWD'>RENDEZVOUS FWD</option>
				<option value='ACCORD 4C'>ACCORD 4C</option>
				<option value='ESCAPE 2WD 4C'>ESCAPE 2WD 4C</option>
				<option value='MALIBU MAXX V6'>MALIBU MAXX V6</option>
				<option value='COLORADO PICKUP 2WD'>COLORADO PICKUP 2WD</option>
				<option value='REGAL'>REGAL</option>
				<option value='SANTA FE 2WD V6'>SANTA FE 2WD V6</option>
				<option value='GRAND CHEROKEE 2WD V'>GRAND CHEROKEE 2WD V</option>
				<option value='MALIBU 4C'>MALIBU 4C</option>
				<option value='AVEO'>AVEO</option>
				<option value='CHARGER V6'>CHARGER V6</option>
				<option value='AVENGER 4C'>AVENGER 4C</option>
				<option value='PATRIOT 4WD 4C'>PATRIOT 4WD 4C</option>
				<option value='SORENTO 4WD'>SORENTO 4WD</option>
				<option value='AURA'>AURA</option>
				<option value='AVENGER V6'>AVENGER V6</option>
				<option value='TRIBUTE 2WD V6'>TRIBUTE 2WD V6</option>
				<option value='F150 PICKUP 4WD V8'>F150 PICKUP 4WD V8</option>
				<option value='FUSION V6'>FUSION V6</option>
				<option value='ENDEAVOR AWD'>ENDEAVOR AWD</option>
				<option value='VIBE'>VIBE</option>
				<option value='TOWN & COUNTRY 2WD V'>TOWN & COUNTRY 2WD V</option>
				<option value='CHARGER'>CHARGER</option>
				<option value='VERSA'>VERSA</option>
				<option value='JETTA 5C'>JETTA 5C</option>
				<option value='SABLE 3.0L V6 EFI'>SABLE 3.0L V6 EFI</option>
				<option value='PACIFICA FWD 3.5L V6'>PACIFICA FWD 3.5L V6</option>
				<option value='IMPALA 3.5L V6 SFI'>IMPALA 3.5L V6 SFI</option>
				<option value='COBALT 2.2L I4 MPI'>COBALT 2.2L I4 MPI</option>
				<option value='SORENTO 4WD 3.5L V6'>SORENTO 4WD 3.5L V6</option>
				<option value='UPLANDER FWD V6 3.9L'>UPLANDER FWD V6 3.9L</option>
				<option value='EXPEDITION 4WD V8 5.'>EXPEDITION 4WD V8 5.</option>
				<option value='MALIBU V6 3.5L V6 SF'>MALIBU V6 3.5L V6 SF</option>
				<option value='MUSTANG V6 4.0L V6 E'>MUSTANG V6 4.0L V6 E</option>
				<option value='LIBERTY 4WD V6 3.7L'>LIBERTY 4WD V6 3.7L</option>
				<option value='IMPALA 3.4L V6 SFI'>IMPALA 3.4L V6 SFI</option>
				<option value='CHARGER V6 2.7L V6 M'>CHARGER V6 2.7L V6 M</option>
				<option value='TAURUS 3.0L V6 EFI S'>TAURUS 3.0L V6 EFI S</option>
				<option value='300 2.7L V6 MPI'>300 2.7L V6 MPI</option>
				<option value='MONTE CARLO 3.5L V6'>MONTE CARLO 3.5L V6</option>
				<option value='MAGNUM V6 2.7L V6 MP'>MAGNUM V6 2.7L V6 MP</option>
				<option value='ION 2.2L I4 EFI / SF'>ION 2.2L I4 EFI / SF</option>
				<option value='AVEO 1.6L I4 EFI'>AVEO 1.6L I4 EFI</option>
				<option value='SEBRING 4C 2.4L I4 E'>SEBRING 4C 2.4L I4 E</option>
				<option value='MALIBU 4C 2.2L I4 MP'>MALIBU 4C 2.2L I4 MP</option>
				<option value='FIVE HUNDRED 3.0L V6'>FIVE HUNDRED 3.0L V6</option>
				<option value='MALIBU MAXX V6 3.5L'>MALIBU MAXX V6 3.5L</option>
				<option value='SONATA V6 2.7L V6 MP'>SONATA V6 2.7L V6 MP</option>
				<option value='ELANTRA 2.0L I4 MPI'>ELANTRA 2.0L I4 MPI</option>
				<option value='MARINER 2WD V6 3.0L'>MARINER 2WD V6 3.0L</option>
				<option value='SEBRING V6 2.7L V6 M'>SEBRING V6 2.7L V6 M</option>
				<option value='TRAILBLAZER 4WD 6C 4'>TRAILBLAZER 4WD 6C 4</option>
				<option value='PT CRUISER 2.4L I4 M'>PT CRUISER 2.4L I4 M</option>
				<option value='ELANTRA MFI I-4 2.0L'>ELANTRA MFI I-4 2.0L</option>
				<option value='CAVALIER 4C 2.2L I4'>CAVALIER 4C 2.2L I4</option>
				<option value='ASCENDER 2WD 6C 4.2L'>ASCENDER 2WD 6C 4.2L</option>
				<option value='ALTIMA 2.5L I4 MPI'>ALTIMA 2.5L I4 MPI</option>
				<option value='HHR 2.2L I4 MPI'>HHR 2.2L I4 MPI</option>
				<option value='STRATUS 4C 2.4L I4 S'>STRATUS 4C 2.4L I4 S</option>
				<option value='GRAND PRIX 3.8L V6 S'>GRAND PRIX 3.8L V6 S</option>
				<option value='PT CRUISER 2.4L I4 S'>PT CRUISER 2.4L I4 S</option>
				<option value='STRATUS 4C 2.4L I4 M'>STRATUS 4C 2.4L I4 M</option>
				<option value='PT CRUISER 2.4L I-4'>PT CRUISER 2.4L I-4</option>
				<option value='SANTA FE 4WD V6 2.7L'>SANTA FE 4WD V6 2.7L</option>
				<option value='ECLIPSE'>ECLIPSE</option>
				<option value='GRAND AM V6 3.4L V6'>GRAND AM V6 3.4L V6</option>
				<option value='SONATA V6 3.3L V6 MP'>SONATA V6 3.3L V6 MP</option>
				<option value='EQUINOX AWD V6 3.4L'>EQUINOX AWD V6 3.4L</option>
				<option value='FORENZA 2.0L I4 EFI'>FORENZA 2.0L I4 EFI</option>
				<option value='CONCORDE 3.5L V6 MPI'>CONCORDE 3.5L V6 MPI</option>
				<option value='ION 2.2L I4 EFI'>ION 2.2L I4 EFI</option>
				<option value='VENTURE FWD V6 3.4L'>VENTURE FWD V6 3.4L</option>
				<option value='ION 2.0L I4 MPI'>ION 2.0L I4 MPI</option>
				<option value='TAHOE 4WD 4.8L V8 SF'>TAHOE 4WD 4.8L V8 SF</option>
				<option value='MALIBU V6 3.1L V6 SF'>MALIBU V6 3.1L V6 SF</option>
				<option value='WINDSTAR FWD V6 3.8L'>WINDSTAR FWD V6 3.8L</option>
				<option value='PACIFICA AWD 3.5L V6'>PACIFICA AWD 3.5L V6</option>
				<option value='SONATA 4C 2.4L I4 MP'>SONATA 4C 2.4L I4 MP</option>
				<option value='VIBE 1.8L I4 MPI'>VIBE 1.8L I4 MPI</option>
				<option value='MAZDA6 2.3L I4 MFI /'>MAZDA6 2.3L I4 MFI /</option>
				<option value='EXPLORER 4WD V6 4.0L'>EXPLORER 4WD V6 4.0L</option>
				<option value='ACCORD V6 3.0L V6 EF'>ACCORD V6 3.0L V6 EF</option>
				<option value='ESCAPE 2WD V6 3.0L V'>ESCAPE 2WD V6 3.0L V</option>
				<option value='VUE AWD 4C 2.2L I4 M'>VUE AWD 4C 2.2L I4 M</option>
				<option value='RENDEZVOUS FWD 3.4L'>RENDEZVOUS FWD 3.4L</option>
				<option value='ACCENT 1.6L I4 MPI'>ACCENT 1.6L I4 MPI</option>
				<option value='TOWN CAR 4.6L V8 EFI'>TOWN CAR 4.6L V8 EFI</option>
				<option value='OPTIMA 4C 2.4L I4 MP'>OPTIMA 4C 2.4L I4 MP</option>
				<option value='FOCUS 2.0L I4 SFI'>FOCUS 2.0L I4 SFI</option>
				<option value='MONTE CARLO 3.4L V6'>MONTE CARLO 3.4L V6</option>
				<option value='FREESTYLE 2WD V6 3.0'>FREESTYLE 2WD V6 3.0</option>
				<option value='MILAN V6'>MILAN V6</option>
				<option value='LIBERTY 4WD V6'>LIBERTY 4WD V6</option>
				<option value='CARAVAN FWD 4C'>CARAVAN FWD 4C</option>
				<option value='XL-7 4WD'>XL-7 4WD</option>
				<option value='FREESTYLE AWD V6'>FREESTYLE AWD V6</option>
				<option value='GRAND AM V6'>GRAND AM V6</option>
				<option value='S SERIES'>S SERIES</option>
				<option value='PACIFICA AWD'>PACIFICA AWD</option>
				<option value='EQUINOX AWD V6'>EQUINOX AWD V6</option>
				<option value='HIGHLANDER 2WD V6'>HIGHLANDER 2WD V6</option>
				<option value='LANCER'>LANCER</option>
				<option value='MAXIMA'>MAXIMA</option>
				<option value='EXPEDITION 4WD V8'>EXPEDITION 4WD V8</option>
				<option value='COOPER'>COOPER</option>
				<option value='ACCORD V6'>ACCORD V6</option>
				<option value='GRAND AM 4C'>GRAND AM 4C</option>
				<option value='MILAN 4C'>MILAN 4C</option>
				<option value='ENVOY 4WD 6C'>ENVOY 4WD 6C</option>
				<option value='RENDEZVOUS AWD'>RENDEZVOUS AWD</option>
				<option value='CENTURY V6'>CENTURY V6</option>
				<option value='TRAILBLAZER 4WD 6C'>TRAILBLAZER 4WD 6C</option>
				<option value='TRIBUTE 4WD V6'>TRIBUTE 4WD V6</option>
				<option value='MONTEGO'>MONTEGO</option>
				<option value='S10 PICKUP 2WD 4C'>S10 PICKUP 2WD 4C</option>
				<option value='GRAND CHEROKEE 4WD V'>GRAND CHEROKEE 4WD V</option>
				<option value='1500 RAM PICKUP 4WD'>1500 RAM PICKUP 4WD</option>
				<option value='TORRENT FWD V6'>TORRENT FWD V6</option>
				<option value='TAURUS 3.0L V6 EFI'>TAURUS 3.0L V6 EFI</option>
				<option value='SPECTRA 2.0L I4 EFI'>SPECTRA 2.0L I4 EFI</option>
				<option value='PACIFICA FWD 3.8L V6'>PACIFICA FWD 3.8L V6</option>
				<option value='CHARGER V6 3.5L V6 E'>CHARGER V6 3.5L V6 E</option>
				<option value='CIVIC'>CIVIC</option>
				<option value='TRAILBLAZER 2WD 6C 4'>TRAILBLAZER 2WD 6C 4</option>
				<option value='MAGNUM V6 3.5L V6 MP'>MAGNUM V6 3.5L V6 MP</option>
				<option value='LACROSSE 3.8L V6 SFI'>LACROSSE 3.8L V6 SFI</option>
				<option value='IMPALA V6 3.5L V6 SF'>IMPALA V6 3.5L V6 SF</option>
				<option value='MUSTANG V6 3.8L V6 E'>MUSTANG V6 3.8L V6 E</option>
				<option value='G6 V6 3.5L V6 SFI'>G6 V6 3.5L V6 SFI</option>
				<option value='RENO 2.0L I4 EFI'>RENO 2.0L I4 EFI</option>
				<option value='CARAVAN FWD 4C 2.4L'>CARAVAN FWD 4C 2.4L</option>
				<option value='EXPLORER 2WD V6 4.0L'>EXPLORER 2WD V6 4.0L</option>
				<option value='MAXIMA MFI V6 3.5L D'>MAXIMA MFI V6 3.5L D</option>
				<option value='TAURUS 3.0L V6 EFI /'>TAURUS 3.0L V6 EFI /</option>
				<option value='CHARGER 2.7L V6 MPI'>CHARGER 2.7L V6 MPI</option>
				<option value='RONDO V6'>RONDO V6</option>
				<option value='FORESTER AWD'>FORESTER AWD</option>
				<option value='XTERRA 2WD 4C'>XTERRA 2WD 4C</option>
				<option value='DAKOTA PICKUP 2WD V8'>DAKOTA PICKUP 2WD V8</option>
				<option value='TIBURON'>TIBURON</option>
				<option value='CAMRY SOLARA V6'>CAMRY SOLARA V6</option>
				<option value='MONTANA'>MONTANA</option>
				<option value='NITRO 2WD V6'>NITRO 2WD V6</option>
				<option value='G5 4C'>G5 4C</option>
				<option value='AURA V6'>AURA V6</option>
				<option value='RANGER PICKUP 2WD 4C'>RANGER PICKUP 2WD 4C</option>
				<option value='SPORTAGE 2WD 4C'>SPORTAGE 2WD 4C</option>
				<option value='MOUNTAINEER 2WD V6'>MOUNTAINEER 2WD V6</option>
				<option value='ALERO V6'>ALERO V6</option>
				<option value='300M'>300M</option>
				<option value='GRAND CHEROKEE 4WD 6'>GRAND CHEROKEE 4WD 6</option>
				<option value='LE SABRE'>LE SABRE</option>
				<option value='MATRIX 2WD'>MATRIX 2WD</option>
				<option value='VOYAGER FWD 4C'>VOYAGER FWD 4C</option>
				<option value='SENTRA 1.8L I4 EFI'>SENTRA 1.8L I4 EFI</option>
				<option value='ENVOY 2WD 6C 4.2L I-'>ENVOY 2WD 6C 4.2L I-</option>
				<option value='F150 PICKUP 2WD V8 5'>F150 PICKUP 2WD V8 5</option>
				<option value='ION 2.2L I4 MPI'>ION 2.2L I4 MPI</option>
				<option value='FREESTAR FWD V6 3.9L'>FREESTAR FWD V6 3.9L</option>
				<option value='ALERO V6 3.4L V6 MPI'>ALERO V6 3.4L V6 MPI</option>
				<option value='COBALT 2.2L I4 MPI /'>COBALT 2.2L I4 MPI /</option>
				<option value='UPLANDER FWD V6 3.5L'>UPLANDER FWD V6 3.5L</option>
				<option value='MOUNTAINEER AWD V6 4'>MOUNTAINEER AWD V6 4</option>
				<option value='DURANGO 2WD V8 4.7L'>DURANGO 2WD V8 4.7L</option>
				<option value='AVEO 1.6L I4 EFI / M'>AVEO 1.6L I4 EFI / M</option>
				<option value='ACCORD 4C 2.4L I-4 M'>ACCORD 4C 2.4L I-4 M</option>
				<option value='CALIBER 2.0L I4 SFI'>CALIBER 2.0L I4 SFI</option>
				<option value='TAHOE 2WD 4.8L V8 SF'>TAHOE 2WD 4.8L V8 SF</option>
				<option value='F150 PICKUP 2WD V8 4'>F150 PICKUP 2WD V8 4</option>
				<option value='SORENTO 2WD 3.5L V6'>SORENTO 2WD 3.5L V6</option>
				<option value='EQUINOX FWD V6 3.4L'>EQUINOX FWD V6 3.4L</option>
				<option value='MALIBU 4C 2.2L I4 MF'>MALIBU 4C 2.2L I4 MF</option>
				<option value='ENVOY 2WD 6C 4.2L I6'>ENVOY 2WD 6C 4.2L I6</option>
				<option value='TITAN PICKUP 2WD V8'>TITAN PICKUP 2WD V8</option>
				<option value='GRAND AM 4C 2.2L I4'>GRAND AM 4C 2.2L I4</option>
				<option value='AVENGER 4C 2.4L I4 S'>AVENGER 4C 2.4L I4 S</option>
				<option value='IMPALA 3.9L V6 SFI'>IMPALA 3.9L V6 SFI</option>
				<option value='HHR 2.4L I-4 MPI'>HHR 2.4L I-4 MPI</option>
				<option value='MAXIMA 3.5L V6 MPI'>MAXIMA 3.5L V6 MPI</option>
				<option value='CENTURY V6 3.1L V6 S'>CENTURY V6 3.1L V6 S</option>
				<option value='FUSION 4C 2.3L I4 EF'>FUSION 4C 2.3L I4 EF</option>
				<option value='FREESTYLE FWD V6 3.0'>FREESTYLE FWD V6 3.0</option>
				<option value='DURANGO 4WD V8 4.7L'>DURANGO 4WD V8 4.7L</option>
				<option value='IMPALA 3.8L V6 SFI'>IMPALA 3.8L V6 SFI</option>
				<option value='LACROSSE'>LACROSSE</option>
				<option value='TUNDRA PICKUP 2WD V8'>TUNDRA PICKUP 2WD V8</option>
				<option value='MARINER 2WD V6'>MARINER 2WD V6</option>
				<option value='GRAND MARQUIS'>GRAND MARQUIS</option>
				<option value='MARINER 4WD V6'>MARINER 4WD V6</option>
				<option value='BEETLE'>BEETLE</option>
				<option value='VUE 2WD V6'>VUE 2WD V6</option>
				<option value='YUKON XL 1500 4WD'>YUKON XL 1500 4WD</option>
				<option value='SANTA FE 2WD V6 2.7L'>SANTA FE 2WD V6 2.7L</option>
				<option value='NEON 2.0L I4 SFI'>NEON 2.0L I4 SFI</option>
				<option value='GRAND CHEROKEE 2WD 6'>GRAND CHEROKEE 2WD 6</option>
				<option value='LANCER 2.0L I4 MPI'>LANCER 2.0L I4 MPI</option>
				<option value='MUSTANG V6 3.9L V6 E'>MUSTANG V6 3.9L V6 E</option>
				<option value='SABLE 3.0L V6 EFI DO'>SABLE 3.0L V6 EFI DO</option>
				<option value='LE SABRE 3.8L V6 MFI'>LE SABRE 3.8L V6 MFI</option>
				<option value='FREESTYLE AWD V6 3.0'>FREESTYLE AWD V6 3.0</option>
				<option value='XTERRA 2WD V6 3.3L V'>XTERRA 2WD V6 3.3L V</option>
				<option value='EXPEDITION 2WD V8 5.'>EXPEDITION 2WD V8 5.</option>
				<option value='SPECTRA 1.8L I4 EFI'>SPECTRA 1.8L I4 EFI</option>
				<option value='OPTIMA V6'>OPTIMA V6</option>
				<option value='VUE AWD V6'>VUE AWD V6</option>
				<option value='BRAVADA AWD V6'>BRAVADA AWD V6</option>
				<option value='CONCORDE'>CONCORDE</option>
				<option value='CAMRY SOLARA 4C'>CAMRY SOLARA 4C</option>
				<option value='FRONTIER PICKUP 2WD'>FRONTIER PICKUP 2WD</option>
				<option value='MPV 2WD V6'>MPV 2WD V6</option>
				<option value='PROTEGE'>PROTEGE</option>
				<option value='CARAVAN FWD V6 3.3L'>CARAVAN FWD V6 3.3L</option>
				<option value='S SERIES 1.9L I-4 SF'>S SERIES 1.9L I-4 SF</option>
				<option value='FOCUS 2.0L I4 SPI'>FOCUS 2.0L I4 SPI</option>
				<option value='BONNEVILLE 3.8L V6 M'>BONNEVILLE 3.8L V6 M</option>
				<option value='RENO 2.0L I4 DI / EF'>RENO 2.0L I4 DI / EF</option>
				<option value='INTREPID 3.5L V6 MPI'>INTREPID 3.5L V6 MPI</option>
				<option value='FOCUS 2.0L I-4 SFI S'>FOCUS 2.0L I-4 SFI S</option>
				<option value='STRATUS V6 2.7L V6 M'>STRATUS V6 2.7L V6 M</option>
				<option value='SABLE 3.0L V6 2V /EF'>SABLE 3.0L V6 2V /EF</option>
				<option value='LANCER 2.4L I4 MPI'>LANCER 2.4L I4 MPI</option>
				<option value='L SERIES 2.2L I4 MPI'>L SERIES 2.2L I4 MPI</option>
				<option value='TAURUS 3.0L V6 EFI F'>TAURUS 3.0L V6 EFI F</option>
				<option value='ESCAPE 2WD 4C 2.3L I'>ESCAPE 2WD 4C 2.3L I</option>
				<option value='OUTLANDER 2WD 4C 2.4'>OUTLANDER 2WD 4C 2.4</option>
				<option value='TRIBUTE 4WD V6 3.0L'>TRIBUTE 4WD V6 3.0L</option>
				<option value='GRAND PRIX 3.1L V6 S'>GRAND PRIX 3.1L V6 S</option>
				<option value='L SERIES 2.0L I-4 MP'>L SERIES 2.0L I-4 MP</option>
				<option value='ENDEAVOR FWD 3.8L V6'>ENDEAVOR FWD 3.8L V6</option>
				<option value='PROTEGE 5 2.0L I-4 M'>PROTEGE 5 2.0L I-4 M</option>
				<option value='F150 PICKUP 2WD V6 4'>F150 PICKUP 2WD V6 4</option>
				<option value='XG 350'>XG 350</option>
				<option value='SANTA FE 4WD V6'>SANTA FE 4WD V6</option>
				<option value='TRACKER 2WD 4C'>TRACKER 2WD 4C</option>
				<option value='SORENTO 2WD'>SORENTO 2WD</option>
				<option value='BEETLE 2.0L I4 MFI /'>BEETLE 2.0L I4 MFI /</option>
				<option value='DURANGO 2WD V6 3.7L'>DURANGO 2WD V6 3.7L</option>
				<option value='XB 1.5L I-4 EFI DOHC'>XB 1.5L I-4 EFI DOHC</option>
				<option value='PACIFICA AWD 4.0L V6'>PACIFICA AWD 4.0L V6</option>
				<option value='MAZDA6 2.3L I4 MPI'>MAZDA6 2.3L I4 MPI</option>
				<option value='PACIFICA FWD 4.0L V6'>PACIFICA FWD 4.0L V6</option>
				<option value='PATRIOT FWD 4C'>PATRIOT FWD 4C</option>
				<option value='COMMANDER 2WD V8'>COMMANDER 2WD V8</option>
				<option value='SEDONA'>SEDONA</option>
				<option value='ENVOY 4WD 6C 4.2L I6'>ENVOY 4WD 6C 4.2L I6</option>
				<option value='RIO MFI I-4 1.6L DOH'>RIO MFI I-4 1.6L DOH</option>
				<option value='GRAND PRIX 3.8L V6 M'>GRAND PRIX 3.8L V6 M</option>
				<option value='AMANTI 3.5L V6 MPI'>AMANTI 3.5L V6 MPI</option>
				<option value='REGAL 3.8L V6 MFI SC'>REGAL 3.8L V6 MFI SC</option>
				<option value='TAHOE 2WD 5.3L V8 SF'>TAHOE 2WD 5.3L V8 SF</option>
				<option value='LE SABRE Unspecified'>LE SABRE Unspecified</option>
				<option value='MONTANA 3.4L V6 SFI'>MONTANA 3.4L V6 SFI</option>
				<option value='TAHOE 4WD 5.3L V8 SF'>TAHOE 4WD 5.3L V8 SF</option>
				<option value='MONTERO SPORT 2WD V6'>MONTERO SPORT 2WD V6</option>
				<option value='MONTANA 3.4L V6 EFI'>MONTANA 3.4L V6 EFI</option>
				<option value='COMMANDER 2WD V6 3.7'>COMMANDER 2WD V6 3.7</option>
				<option value='COMMANDER 2WD V6'>COMMANDER 2WD V6</option>
				<option value='GALANT 4C 2.4L I4 EF'>GALANT 4C 2.4L I4 EF</option>
				<option value='MOUNTAINEER AWD V8'>MOUNTAINEER AWD V8</option>
				<option value='MOUNTAINEER AWD V6'>MOUNTAINEER AWD V6</option>
				<option value='ASCENDER 2WD 6C'>ASCENDER 2WD 6C</option>
				<option value='COMMANDER 4WD V8'>COMMANDER 4WD V8</option>
				<option value='MONTEREY'>MONTEREY</option>
				<option value='MARINER 4WD V6 3.0L'>MARINER 4WD V6 3.0L</option>
				<option value='G6 4C 2.4L I4 MFI /'>G6 4C 2.4L I4 MFI /</option>
				<option value='ALERO 4C 2.2L I4 MPI'>ALERO 4C 2.2L I4 MPI</option>
				<option value='DURANGO 2WD V8 5.7L'>DURANGO 2WD V8 5.7L</option>
				<option value='COMMANDER 4WD V6'>COMMANDER 4WD V6</option>
				<option value='HIGHLANDER 2WD V6 3.'>HIGHLANDER 2WD V6 3.</option>
				<option value='TAURUS X FWD V6'>TAURUS X FWD V6</option>
				<option value='2500HD SILVERADO PIC'>2500HD SILVERADO PIC</option>
				<option value='2500 RAM PICKUP 2WD'>2500 RAM PICKUP 2WD</option>
				<option value='MPV 2WD V6 3.0L V6 M'>MPV 2WD V6 3.0L V6 M</option>
				<option value='VIBE 1.8L I-4 MPI'>VIBE 1.8L I-4 MPI</option>
				<option value='SUNFIRE 2.2L I4 MPI'>SUNFIRE 2.2L I4 MPI</option>
				<option value='MOUNTAINEER 2WD V8'>MOUNTAINEER 2WD V8</option>
				<option value='AVALON'>AVALON</option>
				<option value='COMPASS 4WD 4C'>COMPASS 4WD 4C</option>
				<option value='MURANO 2WD V6'>MURANO 2WD V6</option>
				<option value='RIO 5'>RIO 5</option>
				<option value='EXPLORER 4WD V8'>EXPLORER 4WD V8</option>
				<option value='GRAND VITARA 2WD'>GRAND VITARA 2WD</option>
				<option value='XA'>XA</option>
				<option value='TAURUS 3.0L V6 SFI'>TAURUS 3.0L V6 SFI</option>
				<option value='ENVOY XL 2WD 6C 4.2L'>ENVOY XL 2WD 6C 4.2L</option>
				<option value='FREESTAR FWD V6 4.2L'>FREESTAR FWD V6 4.2L</option>
				<option value='NEON 2.0L I4 SFI / S'>NEON 2.0L I4 SFI / S</option>
				<option value='OPTIMA V6 MFI V6 2.7'>OPTIMA V6 MFI V6 2.7</option>
				<option value='EXPEDITION 2WD V8 4.'>EXPEDITION 2WD V8 4.</option>
				<option value='FOCUS 2.0L I-4 SFI D'>FOCUS 2.0L I-4 SFI D</option>
				<option value='SEBRING 4C 2.4L I-4'>SEBRING 4C 2.4L I-4</option>
				<option value='ALTIMA 2.5L I4 EFI'>ALTIMA 2.5L I4 EFI</option>
				<option value='EXPEDITION 4WD V8 4.'>EXPEDITION 4WD V8 4.</option>
				<option value='RELAY 2WD V6 3.5L V6'>RELAY 2WD V6 3.5L V6</option>
				<option value='SUBURBAN 1500 2WD 5.'>SUBURBAN 1500 2WD 5.</option>
				<option value='CANYON PICKUP 2WD I5'>CANYON PICKUP 2WD I5</option>
				<option value='DURANGO 4WD V8 SEFI'>DURANGO 4WD V8 SEFI</option>
				<option value='SENTRA 1.8L I4 EFI /'>SENTRA 1.8L I4 EFI /</option>
				<option value='VERONA 2.5L I6 MPI'>VERONA 2.5L I6 MPI</option>
				<option value='AXIOM 2WD V6 3.5L V6'>AXIOM 2WD V6 3.5L V6</option>
				<option value='SEBRING V6 MFI V6 2.'>SEBRING V6 MFI V6 2.</option>
				<option value='S10 PICKUP 2WD 4C 2.'>S10 PICKUP 2WD 4C 2.</option>
				<option value='FOCUS 2.0L I4 EFI'>FOCUS 2.0L I4 EFI</option>
				<option value='CAMRY 4C 2.4L I-4 SF'>CAMRY 4C 2.4L I-4 SF</option>
				<option value='SABLE 3.0L V6 4V /EF'>SABLE 3.0L V6 4V /EF</option>
				<option value='MONTE CARLO 3.9L V6'>MONTE CARLO 3.9L V6</option>
				<option value='CAMRY 4C 2.4L I4 SFI'>CAMRY 4C 2.4L I4 SFI</option>
				<option value='TRIBUTE 2WD 4C 2.3L'>TRIBUTE 2WD 4C 2.3L</option>
				<option value='MONTERO SPORT 4WD V6'>MONTERO SPORT 4WD V6</option>
				<option value='YUKON 2WD V8 4.8L V8'>YUKON 2WD V8 4.8L V8</option>
				<option value='XL-7 2WD'>XL-7 2WD</option>
				<option value='MONTE CARLO 3.8L V6'>MONTE CARLO 3.8L V6</option>
				<option value='TORRENT FWD V6 3.4L'>TORRENT FWD V6 3.4L</option>
				<option value='G35'>G35</option>
				<option value='BONNEVILLE'>BONNEVILLE</option>
				<option value='OUTLANDER AWD 4C'>OUTLANDER AWD 4C</option>
				<option value='YUKON 2WD V8'>YUKON 2WD V8</option>
				<option value='SABLE 3.0L V6 EFI SO'>SABLE 3.0L V6 EFI SO</option>
				<option value='MONTEREY 4.2L V6 SPI'>MONTEREY 4.2L V6 SPI</option>
				<option value='NAVIGATOR 2WD V8 5.4'>NAVIGATOR 2WD V8 5.4</option>
				<option value='MARINER 2WD 4C 2.3L'>MARINER 2WD 4C 2.3L</option>
				<option value='300M 3.5L V6 MPI'>300M 3.5L V6 MPI</option>
				<option value='PROTEGE 2.0L I4 EFI'>PROTEGE 2.0L I4 EFI</option>
				<option value='VOYAGER FWD 4C 2.4L'>VOYAGER FWD 4C 2.4L</option>
				<option value='CAVALIER 4C 2.2L I-4'>CAVALIER 4C 2.2L I-4</option>
				<option value='OPTIMA V6 2.7L V6 MP'>OPTIMA V6 2.7L V6 MP</option>
				<option value='FOCUS 2.0L I4 MFI /'>FOCUS 2.0L I4 MFI /</option>
				<option value='VOYAGER FWD V6 3.3L'>VOYAGER FWD V6 3.3L</option>
				<option value='XB 1.5L I4 EFI'>XB 1.5L I4 EFI</option>
				<option value='EXPLORER 2WD V8 4.6L'>EXPLORER 2WD V8 4.6L</option>
				<option value='TRIBUTE 2WD V6 3.0L'>TRIBUTE 2WD V6 3.0L</option>
				<option value='B3000 PICKUP 2WD V6'>B3000 PICKUP 2WD V6</option>
				<option value='REGAL 3.8L V6 MFI'>REGAL 3.8L V6 MFI</option>
				<option value='IMPALA 3.8L V6 MFI'>IMPALA 3.8L V6 MFI</option>
				<option value='SPECTRA 2.0L I-4 EFI'>SPECTRA 2.0L I-4 EFI</option>
				<option value='XTERRA 4WD V6'>XTERRA 4WD V6</option>
				<option value='CR-V 4WD'>CR-V 4WD</option>
				<option value='TUCSON 2WD V6'>TUCSON 2WD V6</option>
				<option value='COMPASS FWD 4C'>COMPASS FWD 4C</option>
				<option value='SPECTRA 5'>SPECTRA 5</option>
				<option value='CAMRY 4C 2.4L I-4 EF'>CAMRY 4C 2.4L I-4 EF</option>
				<option value='TAURUS 3.0L V6 EFI D'>TAURUS 3.0L V6 EFI D</option>
				<option value='L SERIES 3.0L V6 EFI'>L SERIES 3.0L V6 EFI</option>
				<option value='MAZDA3 2.0L I4 MPI'>MAZDA3 2.0L I4 MPI</option>
				<option value='UPLANDER AWD V6 3.5L'>UPLANDER AWD V6 3.5L</option>
				<option value='ES300 3.0L V6 EFI'>ES300 3.0L V6 EFI</option>
				<option value='PATHFINDER 4WD V6 3.'>PATHFINDER 4WD V6 3.</option>
				<option value='L SERIES 2.0L I4 MPI'>L SERIES 2.0L I4 MPI</option>
				<option value='SONOMA PICKUP 2WD 4C'>SONOMA PICKUP 2WD 4C</option>
				<option value='PATHFINDER 4WD V6 MF'>PATHFINDER 4WD V6 MF</option>
				<option value='VUE 2WD 4C 2.2L I-4'>VUE 2WD 4C 2.2L I-4</option>
				<option value='FOCUS 2.3L I4 DOHC'>FOCUS 2.3L I4 DOHC</option>
				<option value='ZEPHYR'>ZEPHYR</option>
            </select>
            <h3>Which type of transmission?</h3><br><select id="third" name="Transmission" required="required">
                <option value='MANUAL'>MANUAL</option>
                <option value='AUTO'>AUTO</option>
            </select>                 
            <br><br><button id="sub" type="submit ">Submit & let's find out</button>
            <br>

        </form>



        <br><br><h3>{{ prediction_text }}<h3>
    </div>




    <style>
        body {
            background-color: #6ac34a;
            text-align: center;
            padding: 0px;
        }
        
        #research {
            font-size: 18px;
            width: 100px;
            height: 23px;
            top: 23px;
        }
        
        #box {
            border-radius: 60px;
            border-color: 45px;
            border-style: solid;
            font-family: cursive;
            text-align: center;
            background-color: rgb(168, 131, 61);
            font-size: medium;
            position: absolute;
            width: 700px;
            bottom: 9%;
            height: 850px;
            right: 30%;
            padding: 0px;
            margin: 0px;
            font-size: 14px;
        }
        
        #fuel {
            width: 83px;
            height: 43px;
            text-align: center;
            border-radius: 14px;
            font-size: 20px;
        }
        
        #fuel:hover {
            background-color: coral;
        }
        
        #research {
            width: 99px;
            height: 43px;
            text-align: center;
            border-radius: 14px;
            font-size: 18px;
        }
        
        #research:hover {
            background-color: coral;
        }
        
        #resea {
            width: 99px;
            height: 43px;
            text-align: center;
            border-radius: 14px;
            font-size: 18px;
        }
        
        #resea:hover {
            background-color: coral;
        }
        
        #sub {
            width: 120px;
            height: 43px;
            text-align: center;
            border-radius: 14px;
            font-size: 18px;
        }
        
        #sub:hover {
            background-color: darkcyan;
            
        }
        
        #first {
            border-radius: 14px;
            height: 25px;
            font-size: 20px;
            text-align: center;
        }
        
        #second {
            border-radius: 14px;
            height: 25px;
            font-size: 20px;
            text-align: center;
        }
        
        #third {
            border-radius: 14px;
            height: 25px;
            font-size: 20px;
            text-align: center;
        }
        
        #fourth {
            border-radius: 14px;
            height: 25px;
            font-size: 20px;
            text-align: center;
        }
    </style>
</body>

</html>